/* Base Application Styles */
body {
    font-family: 'Lato' !important;
}

h1, h2 {
    font-family: 'Lato' !important;
    font-weight: 300 !important;
}

h3, h4, h5, h6 {
    font-family: 'Lato' !important;
}

.uk-background-turqoise {
    background-color: #1abc9c;
}

.z-high {
    z-index: 99;
}

.z-medium {
    z-index: 9;
}

.z-low {
    z-index: 4;
}

.uk-height-max {
    height: calc(100vh - 80.4px);
}
