body {
    font-family: 'Nunito' !important;
}

h1, h2 {
    font-family: 'Nunito' !important;
    font-weight: 300 !important;
}

h3, h4, h5, h6 {
    font-family: 'Nunito' !important;
}

.headerColor {
    background-color: #1abc9c;
}

.z-high {
    z-index: 99;
}

.z-medium {
    z-index: 9;
}

.z-low {
    z-index: 4;
}

.uk-height-max {
    height: calc(100vh - 80.4px);
}

.littleRound {
  border-radius: 3px !important;
}

.starFormat {
  color: #FFDF00 !important;
  margin-top: -8px;
}

.uk-text-smallest {
  font-size: 12px;

}
